<a href="https://colab.research.google.com/github/cicerohenjr/alura-imersao-dados-python/blob/main/aula01_analise_dados/aula01_analise_salarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üêº Aula 1: An√°lise de Dados com Pandas
Nesta aula, aprendemos a carregar e explorar uma base de dados de sal√°rios de profissionais da √°rea de dados (Data Science, Engenharia, etc).

## 1. Importando a Biblioteca
O **Pandas** √© a principal ferramenta do Python para manipula√ß√£o de dados. Por conven√ß√£o, importamos com o apelido `pd`.

In [7]:
import pandas as pd

# O 'pd' √© um alias (apelido) para n√£o precisarmos digitar "pandas" toda hora

## 2. Carregamento dos Dados
Lemos o arquivo CSV direto do GitHub usando a fun√ß√£o `pd.read_csv`.

In [8]:
# URL do arquivo CSV (Raw)
url = "https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv"

# Carregando para um DataFrame (df)
df = pd.read_csv(url)

# Visualizando as 5 primeiras linhas para ver se deu certo
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

## 3. Explora√ß√£o Inicial
Precisamos entender o tamanho da base e os tipos de dados (num√©ricos ou texto).
* `info()`: Mostra colunas e tipos.
* `shape`: Mostra (linhas, colunas).

In [9]:
# Informa√ß√µes gerais sobre tipos de dados e valores nulos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [11]:
# Verificando o tamanho da base (Linhas, Colunas)
print(f"A base tem {df.shape[0]} linhas e {df.shape[1]} colunas.")

A base tem 133349 linhas e 11 colunas.

## 4. Renomeando Colunas
Para facilitar a an√°lise, traduzimos os nomes das colunas do ingl√™s para o portugu√™s.

In [13]:
# Dicion√°rio de tradu√ß√£o
mapa_colunas = {
    'work_year': 'ano',
    'experience_level': 'senioridade',
    'employment_type': 'contrato',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda',
    'salary_in_usd': 'usd',
    'employee_residence': 'residencia',
    'remote_ratio': 'remoto',
    'company_location': 'empresa_loc',
    'company_size': 'tamanho_empresa'
}

# Aplicando a renomea√ß√£o
df.rename(columns=mapa_colunas, inplace=True)

# Conferindo
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa_loc,tamanho_empresa
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

## 5. Estat√≠sticas Descritivas
O m√©todo `describe` nos ajuda a entender tanto os dados num√©ricos (m√©dia, m√°ximo, m√≠nimo) quanto os categ√≥ricos (quem aparece mais).

In [14]:
# Estat√≠sticas dos dados num√©ricos (Sal√°rio, Ano)
df.describe()

                 ano       salario            usd         remoto
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [15]:
# Estat√≠sticas dos dados de texto (Categorias)
# include='object' for√ßa o pandas a analisar as strings
df.describe(include='object')

,senioridade,contrato,cargo,moeda,residencia,empresa_loc,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,95,3
top,SE,FT,Data Scientist,USD,US,US,M
freq,77241,132563,17314,126140,119579,119641,129561